<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Add links to Folium and Leaflet libraries -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
    <script src="https://unpkg.com/folium@0.14.0"></script>
    <!-- Cache configuration for static resources -->
    <meta http-equiv="Cache-Control" content="max-age=3600"> <!-- Cache for 1 hour -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <!-- Button to select a point -->
    <button onclick="enableSelection()" id="btnSelectStart">Select start</button>
    <!-- Add a button to generate the route -->
    <button onclick="generateRoute()" id="btnGenerateRoute">Generate route</button>
    <!-- Distance button -->
    <form method="post" action="{{ url_for('change_distance') }}" id="distanceForm">
        <label for="target_distance" id="OneWayDistance">One-way distance (km):</label>
        <input type="number" id="target_distance" name="target_distance" step="0.1" min="0" max="10" value="3" oninput="updateTargetDistance()">
    </form>
    <!-- Change city -->
    <form method="post" action="{{ url_for('change_city') }}" onsubmit="event.preventDefault(); changeCity();">
        <label for="new_city" id="City">City:</label>
        <input type="text" id="new_city" name="new_city" required>
        <button type="submit" id='Change'>Change</button>
    </form>
    <!-- Map -->
    <div id="map"></div>
    <!-- Route lengths -->
    <p id='Blue_route_length' style="display: inline;">Blue route length: </p><span id="first_route_length" style="display: inline;">0.00</span> km </p>
    <p id='Red_route_length' style="display: inline;">Red route length: </p><span id="second_route_length" style="display: inline;">0.00</span> km </p>       
    <p id='Total_route_length' style="display: inline;">Total: </p> <span id="total_length" style="display: inline;">0.00</span> km
    <!-- Flags -->
    <div class="top-right">
        <img src="{{ url_for('static', filename='spanish_flag.webp') }}" alt="Spanish Flag" class="flag-icon" onclick="changeLanguage('es')">
        <img src="{{ url_for('static', filename='english_flag.webp') }}" alt="English Flag" class="flag-icon" onclick="changeLanguage('en')">
    </div>
    <script>
        // Load map
        var latitude = {{ latitude }};
        var longitude = {{ longitude }};
        var map = L.map('map').setView([latitude, longitude], 15);
        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        }).addTo(map);
    </script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>
